<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        helpdesk - Customer Login
    </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="login-container">

    <img src="/static/hd.png"
    alt="IT Helpdesk"
    class="helpdesk-image">
    
    <h1>IT HELP DESK</h1>
    <p> Helpdesk Support Portal</p>
    <br>
    {% if error %}
    <p class="login-error">{{ error }}</p>
    {% endif %}

    <form method="post" action="/login"> 
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
        <div class="login-options">
        <label class="remember-me">
            <input type="checkbox" name="remember_me">
           <span>Remember Me</span>
        </label>
        <button type="submit">Login</button>
            </div>
            <p class="register-link">
            Don't have an account?
            <a href="/register">Create an account</a>
</p>
    </form>
</div>
</body>

</html>